<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br>
    <%= f.collection_select :publisher_id, Publisher.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.collection_select :author_id, Author.all, :id, :name, :include_blank => 'None' %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :expansion_to_id %><br>
    <%= f.collection_select :expansion_to_id, Game.all, :id, :name, :include_blank => 'None' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
