
<%= nested_form_for @game, html: { class: "uk-form-width-large" } do |f| %>
<div class="uk-container uk-container-small">
  <!-- TODO error message styling -->
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= f.label :name, class: "uk-form-label" %>
    <%= f.text_field :name, class: "uk-input" %>
  </div>

  <div class="uk-margin">
    <%= f.label :year, class: "uk-form-label" %>
    <%= f.text_field :year, class: "uk-input"  %>
  </div>

  <div class="uk-margin uk-form-custom fileupload">
    <%= f.label :image, class: "uk-button uk-button-default" %>
    <%= f.file_field :image, class: "file" %>
  </div>

  <div class="uk-margin">
    <span class="label">Publishers</span>
    <ul>
      <%= f.fields_for :productions do |pf| %>
        <li>
          <%= pf.collection_select :publisher_id,
            Publisher.all,
            :id,
            :name,
            { prompt: "Select publisher" },
            { class: "uk-select" } %>
        </li>
      <% end %>
      <%= f.link_to_add "Add Publisher", :productions, class: "uk-button uk-button-primary uk-button-small" %>
    </ul>
  </div>

  <div class="uk-margin">
    <span class="uk-form-label">Authors</span>
    <ul>
      <%= f.fields_for :authorships do |af| %>
        <li>
          <%= af.collection_select :author_id,
            Author.all,
            :id,
            :name,
            { prompt: "Select author" },
            { class: "uk-select" } %>
        </li>
      <% end %>
      <%= f.link_to_add "Add Author",
        :authorships,
        class: "uk-button uk-button-primary uk-button-small" %>
    </ul>
  </div>

  Copies:
  <ul>
    <%= f.fields_for :copies do |cf| %>
      <li>
        <%= cf.select :language, ['EN', 'DE'] %>

        <%= cf.label :purchased_at %><br>
        <%= cf.text_field :purchased_at %>

        <%= cf.label :purchase_price %><br>
        <%= cf.text_field :purchase_price %>
      </li>
    <% end %>
    <p><%= f.link_to_add "Add Copy", :copies %></p>
  </ul>

  <div class="uk-margin">
    <%= f.label :expansion_to_id, class: "uk-form-label" %><br>
    <%= f.collection_select :expansion_to_id,
      Game.all,
      :id,
      :name,
      { prompt: "Select base game" },
      { class: "uk-select" } %>
  </div>

  <div class="actions uk-margin uk-inline">
    <i class="uk-form-icon" uk-icon="twitter"></i>
    <%= f.submit class: "uk-button uk-button-primary" %>
  </div>
</div>
<% end %>
