<!DOCTYPE html>
<html>
<head>
  <title>Boardgame DB</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="header">
    <div class="menu">
      <ul>
        <li><%= link_to "GAMES", games_path %></li>
        <li><%= link_to "PUBLISHERS", publishers_path %></li>
        <li><%= link_to "AUTHORS", authors_path %></li>
      </ul>
    </div>

    <div class="userinfo">
      <% if user_signed_in? %>
        <%= current_user.username %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
